<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI</title>
</head>
<body>
    <form method="POST">
        <div>
            <label>Your weight in KG</label>
            <input class="form" name="weight" type="text"/>
            <label>Your height in M</label>
            <input class="form" name="height" type="text"/>
        </div>
        <input type="submit"/>
    </form>
</body>
</html>