<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Flask Demo</title>
</head>
<body>
<!-- This is called Jinga 2 template formatting -->
    <h1>Welcome {{first_name}} {{last_name}}</h1>
    <!-- <a href="/about">About Us</a> not modular as hard coded -->
    <!-- double quotes outside and single quotes inside -->
    <a href="{{ url_for('about_us') }}">About Us</a>

    <!-- <a href="/add/4/5">Add 4 to 5</a> -->

    <a href="/add/4/5">Add 4 to 5</a>
    <div>
        <img src="static/catc.jpg"/>
    </div>
</body>
</html>